################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/functionApp/Properties/PublishProfiles

# macOS
.DS_Store
**/.DS_Store
