################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/functionApp/Properties/PublishProfiles

spfx/node_modules/
spfx/lib*
spfx/dist*
spfx/temp*
spfx/release*
spfx/sharepoint

spfx/jest*

spfx/.vscode
spfx/.env
spfx/.env.local
spfx/.env.development
spfx/.env.production
spfx/.env.test
spfx/.env.*.local
